---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact | SSS Health Solutions',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <HeroText tagline="Contact Us" title="Let's find your perfect plan." />

  <div class="flex flex-col max-w-xl mx-auto rounded-lg backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 shadow p-4 sm:p-6 lg:p-8 w-full mb-10">
    <form action="https://api.web3forms.com/submit" method="POST">
      
      <input type="hidden" name="access_key" value="6c82002b-f00a-411e-aeba-8b3bad4c9661">
      
      <input type="hidden" name="subject" value="New Website Lead - SSS Health Solutions">
      
      <input type="hidden" name="redirect" value="https://ssshealthsolutions.com/contact">

      <div class="mb-6">
        <label for="name" class="block text-sm font-medium mb-1">Full Name</label>
        <input type="text" name="name" id="name" required class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-800" />
      </div>

      <div class="mb-6">
        <label for="email" class="block text-sm font-medium mb-1">Email Address</label>
        <input type="email" name="email" id="email" required class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-800" />
      </div>

      <div class="mb-6">
        <label for="phone" class="block text-sm font-medium mb-1">Phone Number</label>
        <input type="tel" name="phone" id="phone" required class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-800" />
      </div>

      <div class="mb-6">
        <label for="message" class="block text-sm font-medium mb-1">What type of coverage are you looking for?</label>
        <textarea name="message" id="message" rows="4" required class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-800" placeholder="e.g., I need health insurance for myself and my spouse..."></textarea>
      </div>

      <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-lg transition duration-150 ease-in-out">
        Request Free Quote
      </button>
    </form>
  </div>

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'Phone',
        description: '(727) 304-5971',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'contact@ssshealthsolutions.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Business Hours',
        description: 'Monday - Friday: 9:00 AM - 8:00 PM EST',
        icon: 'tabler:clock',
      },
    ]}
  />
</Layout>
